*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}


:root{
    --main-color: #99db49;
    --secondary-color: #1a2e18;
    --bg-color: #0d120d;
    --main-text-color: #e6ffe9 ;
    --secondary-text-color: #b4c2b6;
    --main-size: 4rem;
    --main-size-media-icon: 1.6rem;
    --main-icon-size: 1.2rem;
}



body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}

/*
------------------------------------------- 
HEADER 
-------------------------------------------
*/

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
}


.fixed {
    position: fixed; /* Fixa o header no topo quando rolar */
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0 ;
}

.hamburger-menu{
    color: var(--main-color);
    font-size: 2em;
    display: none;
    cursor: pointer;
}

.logo-nav{
    max-width: var(--main-size);
    max-height: var(--main-size);

}

#group-buttons{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#language-toggle {
    background-color: transparent;
    border: none;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
    
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    
    
}

.section-btn{
    font-size: 14px;
    color: var(--main-text-color);
    background-color: transparent;
    border: none;
    text-decoration: none;

    transition: 0.2s ease;
}
.section-btn:hover{
    color: var(--main-color);
}

.resume-btn{
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
    padding: 4px 18px;
    cursor: pointer;

    color: var(--main-text-color);
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;

    transition: 0.4s ease;
}
.resume-btn:hover{
    background-color: var(--secondary-color);
    transform: translateY(-4px) translateX(-4px);   
}


/* 
-------------------------------------------
MAIN
-------------------------------------------
*/

#about-me-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 3rem 0
}



.about-me1{
    color: var(--main-color);
}

.about-me-name{
    color: var(--main-text-color);
    font-size: 4rem;
}

.about-me-stack{
    color: var(--secondary-text-color);
    font-size: 3rem;
}

.about-me-description{
    color: var(--main-text-color);
    max-width: 600px;
    margin-bottom: 3em;
}

.skills-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.skills-wrapper h2{
    margin: 2rem;
    font-size: 3rem;
    color: var(--main-text-color);

}

.skills-content{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8rem;

    width: 70%;
    box-sizing: border-box;
}

.skills-content li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 0.6rem 1.3rem;

    border: solid 2px var(--secondary-color);
    border-radius: 50px;
    color: var(--main-text-color);
}

.skills-icons{
    width: var(--main-size-media-icon);
    list-style: none;
    
    text-align: center;
}



/* 
-------------------------------------------
PROJECTS SECTION
-------------------------------------------
*/


#projects-content{
    margin: 10rem 0;
}

.title-section{
    font-size: 4rem;
    color: var(--main-text-color);

    margin: 3rem 0 5rem 0;
    text-align: center;
}

.project-card{
    display: flex;
    justify-content: center;
    margin: 0 0 15em 0;
}

.project-wrapper{
    display: flex;
    width: 800px;
    height: 300px;
    text-align: end;
    align-items: center;
    position: relative;

}

.img-project{
    
    object-fit: cover;
    object-position: top;
    width: 700px;
    max-height: 300px;
    border-radius: 10px;
}


.project-details{
    position: absolute;
    max-width: 400px;
    bottom: -100px;
    right: 10px;
    
    z-index: 1;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}



.project-title{
    color: var(--main-color);
    text-decoration: underline;
}

.project-description{
    color: var(--main-text-color);
    font-size: 14px;
    margin-bottom: 20px;
    
}

.project-link-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.project-link-img{  
    max-width: 22px;  

    transition: 0.3s ease;
}

.project-link-img:hover{
    transform: translateY(-3px);
}

.project-data{
    position: absolute;
    bottom: -100px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}

.list-itens-project{
    width: 50%;
    box-sizing: border-box;
    text-align: start;

    color: var(--main-text-color);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--main-color);  

}

/* 
-------------------------------------------
CONTACT SECTION
-------------------------------------------
*/
#contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.title-contact{
    color: var(--main-text-color);
    font-size: 2.4rem;
    text-align: center;
    
}

.description-contact{
    color: var(--main-text-color);
    font-size: 1em;
    font-weight: 300;
    max-width: 30rem;
    text-align: center;
}

.btn-contact{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 2rem;
    color: var(--main-text-color);

    border: solid 2px var(--secondary-color);
    border-radius: 10px;

    transition: 0.4s ease;
}
.btn-contact:hover{
    background-color: var(--secondary-color);
    transform: translateY(-4px) translateX(-4px);   
}


/* 
-------------------------------------------
FOOTER
-------------------------------------------
*/

footer{
    margin-top: 3rem;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 7rem;

    text-decoration: none;
}

.social-link-footer{
    max-width: var(--main-size-media-icon);
    max-height: var(--main-size-media-icon);
    
    transition: 0.4s ease;
}
.social-link-footer:hover{
    transform: translateX(5px);
}

.line-links{
    width: 1px;
    height: 7rem;
    flex-grow: 1;
    background-color: var(--main-text-color);
    
}

.credit{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--main-text-color);
    margin: 0 0 2rem 0
}

.credit img{
    max-width: var(--main-size-media-icon);
    max-height: var(--main-size-media-icon);

}

/* 
-------------------------------------------
MEDIA QUERIES
-------------------------------------------
*/


@media (max-width: 1200px) {
    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
        align-items: center;
        position: inherit;
        text-decoration: none;
    }  

    .line-links{
        display: none;
    }
}

@media(max-width: 800px){
    nav{
        justify-content: space-between;
        padding: 1.6rem;
    }

    .logo-nav{
        max-width: 2rem;
        max-height: 2rem;
    }

    .hamburger-menu{
        display: block;
        font-size: 1.5rem;
        
    }

    #group-buttons {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px; 
        right: 25px;
        background-color: var(--secondary-color);
        padding: 10px;
        opacity: 0; 
        transition: 0.5s ease, opacity 0.5s ease;
        
    }
    
    #group-buttons.active {
        display: flex; 
        opacity: 1; 
    }

    
    .section-btn:hover{
        color: var(--main-color);
    }

    .about-wrapper{
        padding: 1em;
    }
    .about-me-name{
        font-size: 2em;
        
    }

    .about-me-stack{
        font-size: 1.6em;
        
    }

    .about-me-description{
        font-size: 0.7em;
    }

    .skills-wrapper h2{
        font-size: 2em;
    }
    
    .skills-content li{
        font-size: 13px;
        padding: 4px 10px;

    }

    .skills-icons{
        width: 15px;
    }

    .title-section{
        font-size: 2em;
    }

    .project-card {
        margin: 0 0 10em 0; 
    }

    .project-wrapper {
        flex-direction: column; 
        width: 70%; 
        height: auto; 
        text-align: center; 
        align-items: center; 
    }

    .img-project {
        width: 100%; 
        max-height: 200px; 
        border-radius: 10px 10px 0 0;
    }

    .project-details {
        position: static; 
        max-width: 100%; 
        border-radius: 0 0 10px 10px;
        background-color: var(--secondary-color);
        
        padding: 12px;
        text-align: center;
    }

    .project-title {
        font-size: 18px; 
    }

    .project-description {
        font-size: 12px; 
        margin-bottom: 15px;
    }

    .project-link-wrapper {
        gap: 2rem; 
    }

    .project-link-img {
        max-width: 20px; 
    }

    .project-data {
        position: static; 
        
        margin-top: 20px; 
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .list-itens-project {
        width: 100%; 
        text-align: center; 
        margin-bottom: 10px; 
    }

    #contact-content{
        padding: 1em;
    }

    .title-contact{
        font-size: 2em;
    }
    .description-contact{
        font-size: 0.7em;
    }
}

@media(max-width: 400px) {

    .hamburger-menu {
        display: block;
        font-size: 1.5rem;
    }

    #group-buttons {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: var(--secondary-color);
        padding: 10px;
        max-height: 0; 
        overflow: hidden; 
        opacity: 0; 
        transition: max-height 0.5s ease, opacity 0.5s ease; 
    }

    #group-buttons.active {
        display: flex; 
        max-height: 500px; 
        opacity: 1; 
    }
}
